/* when the screen size lower than 1400px */
@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

/* when the screen size lower than 1200px, the desktop-nav will disappear */
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #homepage,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  
  .btn {
    font-size: 0.8rem;
    font-weight: 600;
    transition: all 300ms ease;
    padding: 0.7rem;
    width: 10rem;
    border-radius: 2rem;
  }
  .section__pic-container {
    width: 35vh;
    height: 250px;
    margin: 0 auto 1.5rem;
  }
  .title {
    font-size: 2.25rem;
  }
  .section__text__p2 {
    font-size: 1.2rem;
  }
  .section__text__p3 {
    font-size: 1.2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}
